<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >

<mapper namespace="com.wb.mapper.UserMapper">

    <insert id="insertUser">
        <selectKey resultType="int" order="AFTER" keyProperty="userId">
            SELECT last_insert_id() as userId
        </selectKey>
        insert into user(email,password,activation_code,join_time,username,avatar_url)
        VALUE(#{email},#{password},#{activation_code},#{join_time},#{username},#{avatar_url})
    </insert>

    <select id="selectEmailCount" resultType="int">
        SELECT COUNT(*) FROM user WHERE email = #{email}
    </select>
</mapper>